target/
.mvn/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.conf
.springBeans
### Eclipse ###
**/.settings
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
mvnw
mvnw.cmd
logs/*
### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.idea